.App-header {
  margin-top: 50px;

  text-align: center;
  font-weight: bold;
  width: 960px;
}

.Footer {
  margin: 50px;
  font-size: 12px;
  text-align: center;
}

body {
  background-color: #ffe6eb;
}
